{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["module-resolver", {
            "alias":{
                "@test": "./__tests__",
                "@models": "./src/models",
                "@controllers": "./src/controllers",
                "@middlewares": "./src/middlewares"
            }
        }]
    ]
}